<script type="text/javascript">
    marqueeInit({
        uniqueid: "mycrawler",
        style: {
            "font-size": "1.5em",
            "font-weight": "500",
            "padding": "1em",
            "text-transform": "capitalize",
            // - 'background': 'lightyellow',
            // - 'border': '1px solid #CC3300'
        },
        inc: 12, // speed - pixel increment for each iteration of this marquee's movement
        mouse: "cursor driven", // mouseover behavior ('pause' 'cursor driven' or false)
        moveatleast: 1,
        neutral: 150,
        persist: true,
        savedirection: true
    });
</script>
